.ingredients ul{
	list-style-type: none;
	/*padding-left: 10px;*/
}

.ingredients h3
{
	color: #de0200;
}

.ingredients li{
	font-size: 12px;
	padding: 5px;
	border-bottom: 1px dashed #ccc;
}
 
.box {
	background:  white;
	padding: 5px;
	margin: 0;
	margin-bottom: 15px
}

.rounded {
	border-radius: 3px;
}
.detail img{
width: 100%;
height: auto;
vertical-align: middle;
border: 0;
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.menu-pics img{
  width: 60px;

height: auto;
vertical-align: middle;
border: 0;
}

.menu-pics{

  display: inline;
float: left;
width: 60px;
margin-right: 20px;
margin-bottom: 0;

}


.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.label:empty,
.badge:empty {
  display: none;
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-important[href],
.badge-important[href] {
  background-color: #953b39;
}

.label-warning,
.badge-warning {
  background-color: #f89406;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.label-success,
.badge-success {
  background-color: #468847;
}

.label-success[href],
.badge-success[href] {
  background-color: #356635;
}

.label-info,
.badge-info {
  background-color: #3a87ad;
}

.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}

.btn .label,
.btn .badge {
  position: relative;
  top: -1px;
}

.btn-mini .label,
.btn-mini .badge {
  top: 0;
}


 
.icon-time {
display: inline-block;
width: 14px;
height: 14px;
margin-top: 1px;
line-height: 14px;
vertical-align: text-top;
background-image: url("../img/19-clock.png");
background-size: 13px;
 background-repeat: no-repeat;
}


/* Remove usual bullet styles from list */
.menu-list {
  margin-bottom: 10px;
  menu-list-style: none;
  background-color: #F9F3E3;
}

/* Pad each menu-list item and add dividers */
.menu-list li {
  clear: both;
  position: relative;
  padding: 10px 10px; 
  display: table;
  width: 100%;

  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* Give top border to first menu-list items */
.menu-list li:first-child {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/ 
.items{
  float: left;

}

.items h3{
  margin-bottom: 10px;
}